.formContainer div {
    display: flex;
    flex-direction: column;
}

.formContainer{
    width: 500px !important;
    margin: 1em;
    gap: 10px;
}

.formContainer input, .formContainer select, .formContainer textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}